* {
    margin: 0;
    padding: 0;

}

header {
    background-image: url('../resources/Banner\ Image.png');
    width: 1320px;
    height: 600px;
    flex-shrink: 0;
    margin: auto;
    /* background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%); */
    vertical-align: middle;
}



.container1 {
    /* background-image: url('../resources/Banner\ Image.png'); */
    width: 1320px;
    height: 600px;
    flex-shrink: 0;
    border-radius: 16px;
    margin: auto;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);


    /* display: flex; */
    /* justify-content: space-between; */
    /* align-items: center; */

    /* width: 100%; */
    /* max-width: 1320px; */
    /* max-height: 600px; */
    /* margin: 0 auto; */
}

.banner-title {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 177px;
    padding-right: 530px;
    padding-left: 530px;
    padding-bottom: 16px;
    width: 259px;
    height: 40px;
}

.banner-text {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 70px;
    font-style: normal;
    font-weight: 900;
    line-height: 95px;
    padding-bottom: 177px;
    /* 131.944% */
    /* width: 632px; */
    /* height: 190px; */
}





.container2 {
    width: 1320px;
    height: 920px;
    flex-shrink: 0;
    border-radius: 16px;
    margin: auto;
}

.section-heading {
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    line-height: normal;
}

.section-title {
    color: #F00;
    font-size: 88px;
    font-weight: 700;
    padding-bottom: 48px;
}

.section-text {
    color: rgb(213, 20, 120);
    font-size: 24px;
    font-weight: 500;
    padding-bottom: 16px;
}

.section-category {
    color: #070211;
    font-size: 48px;
    font-weight: 700;
    padding-top: 0;
    padding-bottom: 48px;
}


.section-image2 {
    width: 802.9px;
    height: 500px;
    flex-shrink: 0;
    fill: url(<path-to-image>), lightgray 50% / cover no-repeat;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding-bottom: 120px;
}


.container3 {
    background-image: url(../resources/Vectorrr.png);
    width: 1320px;
    height: 600px;
    flex-shrink: 0;
    margin: auto;
    /* background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%); */
    vertical-align: middle;
    background-repeat: no-repeat;
    padding-top: 246px;
    margin-bottom: 0px;
}

.party-greetings {
    width: 642px;
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-style: normal;
    font-weight: 900;
    line-height: 88px;
    /* 137.5% */
    letter-spacing: 7.04px;
    padding-left: 126px;
    padding-bottom: 24;
}


.party-text {
    width: 697px;
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 166.667% */
    padding-left: 126px;



}


.btn-primary {
    color: #e61010;
    width: auto;
    height: auto;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    margin-top: 30px;
    margin-left: 158px;


}



.container4 {
    width: 1320px;
    height: 1200px;
    flex-shrink: 0;
    border-radius: 16px;
    margin: auto;
}



.section4-image-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0px;
    padding: 0px;
    /* margin: 0px; */
}



.section4-title {


    color: #F00;

    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: auto;
    margin-bottom: 16px;

}


.section4-text {
    color: #070211;

    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;

    margin-bottom: 22px;

}




.section4-details {

    width: 896px;

    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    /* 160% */
}



.container5 {
    margin-bottom: auto;
    width: 1320px;
    height: 616px;
    flex-shrink: 0;
    border-radius: 16px;
    margin: auto;
    background: rgb(220, 201, 238)
}

.mail {
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    margin-left: 585px;
    margin-right: 585px;
    margin-bottom: 40px;
    flex-shrink: 0;
    border-radius: 16px;

}





.section5-title {
    color: #070211;

    text-align: center;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
}

.section5-text {
    width: 896px;
    color: rgba(7, 2, 17, 0.60);

    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    /* 160% */
    margin-left: 212px;
    margin-right: 212px;
    margin-bottom: 100;

}


.info {
    margin-left: 336px;
    width: 648px;
    height: 72px;
    flex-shrink: 0;
    border-radius: 50px;
    background: #FFF;
    border: none;

    /* display: flex;
    gap: 10px; */


}

.subs-btn {
    width: 210px;
    height: 72px;
    flex-shrink: 0;
    border-radius: 0px 50px 50px 0px;
    background: #F00;
    border: none;


    color: #FFF;

    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;


}


#mail {
    color: rgba(7, 2, 17, 0.30);

    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


.form-action {
    /* display: flex; */
}


.container6 {

    width: 1320px;
    height: 616px;
    flex-shrink: 0;
    border-radius: 16px;
    margin: auto;
    background: #070211;
}


.contacts {

    display: flex;
    gap: 400px;
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
    /* 166.667% */
    margin-bottom: 60px;
}

.address {
    margin-top: 120px;
    margin-left: 100px;
}

.web {
    margin-top: 120px;
    margin-right: 180px;
}



.social-links {
    text-align: center;
}


.rights {
    color: #FFF;

    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: left 140px;
    ;
}

.unsubs-bttn {
    background: blueviolet color: #FFF font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;



}


.unsubs {
    display: flex;
    gap: 600px;
    margin-top: 130px;
    margin-left: 100px;
}


.line-container {
    width: 1320px;
    height: 1px;
    background: blue
}

.styled-line {
    gap: 160px;
    width: 1320px;
    height: 1px;
    background: blue
}