* {
    margin: 0;
    padding: 0;

}

header {
    background-image: url('../resources/Banner\ Image.png');
    width: 1320px;
    height: 600px;
    flex-shrink: 0;
    /* background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%); */
    vertical-align: middle;
}



.container1 {
    /* background-image: url('../resources/Banner\ Image.png'); */
    width: 1320px;
    height: 600px;
    flex-shrink: 0;
    border-radius: 16px;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
    /* width: 100%; */
    /* max-width: 1320px; */
    /* max-height: 600px; */
    /* margin: 0 auto; */
}

.banner-title {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 177px;
    padding-right: 530px;
    padding-left: 530px;
    padding-bottom: 16px;
    width: 259px;
    height: 40px;
}

.banner-text {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: 95px;
    padding-bottom: 177px;
    /* 131.944% */
    /* width: 632px; */
    /* height: 190px; */
}





.container2 {
    width: 1320px;
    height: 600px;
    flex-shrink: 0;
    border-radius: 16px;
}

.section-heading {
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    line-height: normal;
}

.section-title {
    color: #F00;
    font-size: 88px;
    font-weight: 700;
    padding-bottom: 48px;
}

.section-text {
    color: #F00;
    font-size: 24px;
    font-weight: 500;
    padding-bottom: 16px;
}

.section-category {
    color: #070211;
    font-size: 48px;
    font-weight: 700;
    padding-top: 0;
    padding-bottom: 48px;
}

.image-happy {
    width: 802.9px;
    height: 500px;
    flex-shrink: 0;
    fill: url(<path-to-image>), lightgray 50% / cover no-repeat;
    padding-left: 250px;
    padding-right: 600px;
    padding-bottom: 0px;
}








.party-greetings {
    padding-top: 0;
}